.title {
    font-size: 130px;
    margin: 5px
}

.score-board {
    font-size: 30px;
    /* display: flex; */
}

.score{
    justify-content: center;
}

.welcomeScreen {
    font-size: 30px;
}

.buttons {
    background-color: #03070394;
    border-radius: 8px;
    border-width: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 30px;

    margin: 30px;
    padding: 8px 40px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.names {
    font-family: "Courier New";
    margin: 5px;
}

input[type=text] {

    font-size: 30px;
  }

.column {
    width: 100px;
    height: 100px;
    margin: 0px;
    border: 10px #2F394D solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.row {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.marker {
    width: 80px;
    height: 80px;
}

#winner-display {
    display: none;
    background-color: #C1666B;
    color: #E4DFDA;
}

body {
    font-family: "Courier New";
    text-align: center;
    background-color: #105f77;
}

#reset-button{
    margin-top: 10px;
}

#score_board{
    display: flexbox;
    justify-content: center;
}